/* .welcome-section are the landing page equivalent of an .above-the-fold section */
section.welcome-section .inner-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.welcome-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section h1,
.welcome-section h2 {
  text-align: center;
}

.welcome-section h2 {
  font-family: var(--text-font);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 0.5em 0;
  margin-bottom: 2em;
}

/* ====================================
    Specific to the website offer page
======================================= */

/* Previous projects list (with emojis) */
ul.previous-projects-list {
  list-style: none;
}

ul.previous-projects-list li::before {
  margin-left: -1.75em;
  margin-right: 0.75em;
}

li.clothes-designer::before {
  content: "\1F9E5";
}

li.software-company::before {
  content: "\1F4BB";
}

li.ecommerce-network::before {
  content: "\1F6D2";
}

/* Benefits list in the form of blocks */
ul.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

li.benefit-card {
  width: 50%;
  transition: all 0.25s;
  padding: 1.5em 1em 1.5em 2em;
  margin-left: -1.4em;
  transform: translateY(0);
}

li.benefit-card:hover {
  box-shadow: 0 0.25em 0.5em hsl(0, 0%, 55%, 0.4);
  transform: translateY(-0.25em);
  transition: all 0.25s;
}

li.benefit-card h3 {
  font-size: 1.25rem;
  margin-top: 0em;
}

li.benefit-card p {
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--text-color);
}

/* Features list, pricing table style */
.features-list-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.features-inner {
  max-width: 28rem;
  border: 1px solid var(--yellow-color);
  padding: 2.5em;
  box-shadow: 0 0.25em 0.5em hsl(0, 0%, 55%, 0.4);
}
.features-inner p {
  font-family: var(--subheadline-font);
  color: var(--text-darker);
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.15em;
}
ul.features-list {
  padding-left: 1.75em;
  margin-bottom: 0;
}
ul.features-list li {
  font-size: 1.1rem;
  font-family: var(--text-font);
  font-weight: 400;
  padding-left: 0.25em;
}

/* Website audit CTA section */
form.audit-form {
  display: flex;
  flex-direction: column;
}

form.audit-form input.form-name,
form.audit-form input.form-website,
form.audit-form input.form-goal,
form.audit-form input.form-email,
form.audit-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  height: 3rem;
  height: 2.5em;
  font-family: var(--text-font);
  color: var(--placeholder-color);
}

form.audit-form input.form-name,
form.audit-form input.form-website,
form.audit-form input.form-goal,
form.audit-form input.form-email {
  display: inline;
  margin-left: 0.5em;
}

form.audit-form p {
  display: inline;
  margin-bottom: 0;
}

form.audit-form p.message-1st-line {
  margin-top: 0;
}

form.audit-form textarea {
  margin-top: 2em;
  width: 80%;
}

form.audit-form input.form-name::placeholder,
form.audit-form input.form-website::placeholder,
form.audit-form input.form-goal::placeholder,
form.audit-form input.form-email::placeholder,
form.audit-form textarea::placeholder {
  font-family: var(--text-font);
  color: var(--placeholder-color);
  font-size: var(--text-size);
}

form.audit-form input.form-name::placeholder,
form.audit-form input.form-website::placeholder,
form.audit-form input.form-goal::placeholder,
form.audit-form input.form-email::placeholder {
  text-align: center;
}

input.form-name {
  width: 13em;
}

input.form-website {
  width: 15em;
}

input.form-goal {
  width: 24em;
}

input.form-email {
  width: 14em;
}

form.audit-form button {
  width: 18em;
  padding: 0;
  align-self: center;
  margin-top: 2em;
}

input.form-audit-submit {
  border: none;
  background-color: transparent;
  font-family: var(--button-font);
  font-size: var(--text-size);
  font-weight: var(--button-weight);
  padding: 0;
  cursor: pointer;
}


@media screen and (min-width: 900px) {

  /* Responsive welcome */
  .welcome-container {
    width: 65%;
    padding: 0;
  }

  .welcome-section h2 {
    width: 77.5%;
  }

  /* Responsive main  */
  .section-inner {
    width: 52.5%;
  }

  /* Responsive website offer page */
  label.mobile-menu-toggle {
    display: none;
  }

  label.mobile-menu-toggle {
    display: none !important;
  }
}